{% extends "base.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{profile.username}} Profile {% endblock %}</title>
</head>
<body>
{% block content%}

  <div class="container-fluid py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card border-0 text-white bg-dark">
          <div class="rounded-top text-white d-flex flex-row"  style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src={{profile.provide_image}}
                alt={{profile.username}} class="img-fluid mt-4 mb-2"
                height="150px" width="150px" style="object-position: center">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{profile.username}}</h5>
              <p>{{profile.occupation}}</p>
            </div>
          </div>
          <div class="p-4 text-white" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5 text-black">{{arts}}</p>
                <p class="small text-muted mb-0">Artworks</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5 text-black">{{followers}}</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5 text-black">{{following}}</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-white bg-dark">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Bio</p>
              <div class="p-4 bg-dark text-white" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{profile.bio}}</p>

              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent Artworks</p>
              <p class="mb-0"><a href="#!" class="text-muted">Go to gallery</a></p>
            </div>
            <div class="row g-2">
              {% for artwork in recent_artworks %}
              <div class="col mb-2">
                <a href={{artwork.generate_artwork_url}}><img src={{artwork.image_url}}
                  alt={{artwork.name}} class="w-100 rounded-3"></a>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
</body>
</html>