{% extends "base.html" %}
{% load static %}
    <title> {% block title %} Welcome to Prometheus {% endblock %}</title>
<body>

</main>
    {% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="row justify-content-center">

	<div class="bg-image d-flex justify-content-center align-items-center"
		style="
		background-image: url({% static "/bg/2.jpg" %});
		background-size: cover;
		padding-bottom: 5%;

				">


	<div class="col-6 align-self-center mb-4 mt-5" style="
    background-color: black;
    opacity: 70%;
    border-radius: 1rem!important;
    ">

<div class="container py-5 text-white justify-content-center">
	<h1 class="text-center">Submit your artwork</h1>

	<form method="POST" name="upload-name" enctype=”multipart/form-data”>
		{% csrf_token %}
		{{ upload_artwork|crispy }}
		<button class="btn btn-primary btn-dark" type="submit">Publish</button>
		{% if form.errors %}
			<ol>
			{% for error in form.errors %}
				<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
			</ol>
		{% endif %}
	</form>
	<p class="text-center">Publishing your artwork means that you accept our, <a href="{% url "login" %}">Terms and conditions</a></p>
</div>

		</div>
	</div>
</div>
    {% endblock %}
</body>
